@charset "UTF-8";
html, body {
  height: 100%;
  margin: 0; }

body {
  margin: 0;
  font-size: 14px;
  font-family: Montserrat-Regular, sans-serif; }

img {
  max-width: 100%;
  margin: 0; }

.wrapper {
  max-width: 100%;
  max-height: 400px; }

.scene {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%; }

.layer {
  position: absolute;
  left: -10%;
  top: 0;
  width: 110%;
  height: 215px; }

.layer_bg {
  background: url("../img/parallax_bg.jpg") center no-repeat;
  background-size: cover; }

.layer-1 {
  background: url("../img/parallax_layer1.png") center no-repeat;
  background-size: cover; }

.layer-2 {
  background: url("../img/parallax_layer2.png") center no-repeat;
  background-size: cover; }

.presentation {
  width: 20%; }

.container_header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.changing_text {
  display: block;
  color: black;
  position: relative;
  text-transform: uppercase;
  left: 10%;
  top: 10%; }
  .changing_text #typed {
    line-height: 1.4em;
    font-size: 1.3em;
    display: block;
    width: 100px;
    height: 18px; }

.header {
  display: flex;
  position: relative; }
  .header .text.poster {
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    margin: 20px 20px 0 20px; }

#day_time {
  color: #ef0d33; }

.intro {
  display: flex;
  flex-direction: column; }

.wow_block {
  margin: 0 auto;
  background: url("../img/gravel.png");
  font-family: Montserrat-Regular, sans-serif; }
  .wow_block .center {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0 auto;
    height: auto;
    padding: 1vh 0 1.5vh 0; }
  .wow_block h4 {
    margin: 2vh;
    font-size: 1.5em;
    color: #469aad; }
  .wow_block span {
    margin-bottom: 10px;
    font-size: 1.2em; }
  .wow_block h3 {
    color: #469aad;
    font-size: 1.8em;
    text-align: center;
    padding-top: 30px; }

.my_skills {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .my_skills h3 {
    padding-top: 0;
    text-align: center;
    margin: 5px auto 10px; }

.box {
  height: auto;
  margin: 20px 0 20px 0;
  display: flex;
  box-shadow: 0 10px 10px -5px, 5px 0 5px -5px;
  flex-basis: 400px;
  z-index: 10;
  background-color: rgba(177, 177, 177, 0.3); }

.box1 {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 10px -5px, 5px 0 5px -5px;
  background-color: rgba(177, 177, 177, 0.3);
  margin: 0 0 20px 0;
  flex-basis: 100%; }

.skills {
  margin-left: 10px;
  font-size: 1.2em; }

.mr_top {
  margin-top: 10px; }

.sl_block {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  height: 500px; }
  .sl_block .contacts_content {
    position: absolute;
    top: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 20;
    justify-content: center;
    width: 60%;
    transform: translateY(-50%); }
    .sl_block .contacts_content .caption {
      color: #469aad;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      margin: 20px 0 20px 0; }
    .sl_block .contacts_content .contacts-area {
      background-color: #b1b1b1;
      width: calc(40% - 15px);
      border-radius: 10px 0 0 10px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      justify-content: space-between; }
      .sl_block .contacts_content .contacts-area .contact_list {
        padding-left: 35px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around; }
        .sl_block .contacts_content .contacts-area .contact_list .contact_info {
          margin-bottom: 19px; }
        .sl_block .contacts_content .contacts-area .contact_list i {
          font-size: 19px; }
        .sl_block .contacts_content .contacts-area .contact_list a {
          text-decoration: none;
          margin-left: 1rem;
          font-weight: 400;
          color: black;
          font-size: 1.5em; }
      .sl_block .contacts_content .contacts-area .social_area {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 30px;
        margin-bottom: 15px; }
        .sl_block .contacts_content .contacts-area .social_area .social_icon {
          font-size: 32px; }
          .sl_block .contacts_content .contacts-area .social_area .social_icon a {
            color: #000;
            outline: none; }
  .sl_block .form_area {
    background-color: white;
    width: calc(60% - 25px);
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    padding: 10px; }
    .sl_block .form_area .contact_form {
      width: 100%; }
    .sl_block .form_area .mini_inputs {
      padding: 0 8px; }
      .sl_block .form_area .mini_inputs .input_data {
        position: relative;
        margin-bottom: 1.5rem; }
        .sl_block .form_area .mini_inputs .input_data input {
          width: 100%;
          height: 45px;
          border-radius: 6px;
          font-size: 1.2em;
          position: relative; }
        .sl_block .form_area .mini_inputs .input_data label {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 20px;
          -webkit-transition: all 0.15s;
          transition: all 0.15s;
          font-size: 18px; }
    .sl_block .form_area .text_form {
      position: relative; }
      .sl_block .form_area .text_form textarea {
        height: 80px;
        resize: none;
        margin-bottom: 15px;
        border: 1px solid #9c9c9c;
        border-radius: 6px;
        font-size: 1.2em;
        padding-top: 10px;
        width: 100%; }
      .sl_block .form_area .text_form label {
        position: absolute;
        top: 25%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: all 0.15s;
        transition: all 0.15s;
        font-size: 18px;
        padding: 20px; }
    .sl_block .form_area button {
      cursor: pointer;
      font-weight: 400;
      background-color: #ef0d33;
      display: inline-block;
      color: white;
      font-size: 1.5rem;
      width: 180px;
      height: 45px;
      position: relative;
      overflow: hidden;
      border-radius: 4px;
      border: none;
      transition: all 0.15s;
      -webkit-transition: all 0.15s;
      margin-top: 1.5rem;
      margin-bottom: 10px; }
    .sl_block .form_area button:hover {
      transition: all 0.15s;
      background-color: #db0420; }
  .sl_block .sl {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 0; }
    .sl_block .sl .sl1, .sl_block .sl .sl2, .sl_block .sl .sl3 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 500px; }
    .sl_block .sl .sl1 {
      background: url("../img/allpc.jpg") no-repeat center center fixed;
      background-size: cover;
      animation: fade 15s infinite;
      -webkit-animation: fade 15s infinite; }
    .sl_block .sl .sl2 {
      background: url("../img/keyboard.jpg") no-repeat center center fixed;
      background-size: cover;
      animation: fade2 15s infinite;
      -webkit-animation: fade2 15s infinite; }
    .sl_block .sl .sl3 {
      background: url("../img/77.jpg") no-repeat center center fixed;
      background-size: cover;
      animation: fade3 15s infinite;
      -webkit-animation: fade3 15s infinite; }

.my_works {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%; }

.content {
  position: relative;
  margin: 0 auto;
  width: 100%; }

/*╨С╨╗╨╛╨║ ╨╛╤Б╨╜╨╛╨▓╨╜╨╛╨╣ ╤Б╨╛ ╤Б╨╗╨░╨╣╨┤╨╡╤А╨╛╨╝ ╨╕ ╤В╨╡╨║╤Б╤В╨░╨╝╨╕ */
.article {
  display: flex;
  position: relative; }

.main_description {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin: 0 auto; }

.block_wrap {
  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  outline: 1px dashed gray; }

.block_wrap .block_img {
  display: block;
  justify-content: center;
  align-self: center; }
  .block_wrap .block_img img {
    border-radius: 5px; }

.block_img, .block_text {
  height: auto;
  width: calc(50% - 20px);
  margin: 10px; }

.description_header {
  color: #000;
  line-height: 1.5;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px; }

.block_text p {
  margin-bottom: 15px; }

.see_example {
  text-transform: uppercase;
  padding: 5px 8px;
  border: #ef0d33 solid 2px;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  width: 88px;
  margin: 0 auto 20px;
  display: block; }

.block_wrap ul {
  margin-top: 10px;
  list-style-type: none; }

.block_text ul > li {
  border-radius: 20px;
  border: 1px solid #000;
  font-weight: 400;
  padding: 7px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block; }

.block_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.footer {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #b1b1b1; }
  .footer .wrap_footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 100%;
    align-items: center;
    margin: 0 auto; }

@keyframes fade {
  0% {
    opacity: 1; }
  33.333% {
    opacity: 0; }
  66.666% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade2 {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 1; }
  66.666% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes fade3 {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 0; }
  66.666% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@media only screen and (max-width: 1200px) {
  .scene .layer {
    height: 300px; } }
@media only screen and (max-width: 1000px) {
  .scene .layer {
    height: 350px; }

  .sl_block .contacts_content {
    width: 90%;
    margin-top: 45px; }

  .container_header .text.poster {
    display: inline-block;
    flex-direction: row;
    justify-content: center; }
    .container_header .text.poster .changing_text {
      font-size: 1em;
      top: 0;
      left: 0;
      text-align: center; }
      .container_header .text.poster .changing_text #typed {
        width: 300px;
        margin: 0 auto; }

  .presentation {
    width: 100%;
    text-align: center; }

  .my_skills {
    justify-content: space-around;
    margin-bottom: 30px; } }
@media only screen and (max-width: 992px) {
  .sl_block .contacts_content {
    width: 100%; }
    .sl_block .contacts_content .contacts-area, .sl_block .contacts_content .form_area {
      border-radius: 0; }

  .main_description {
    margin-top: 100px;
    width: 100%; }
    .main_description .block_wrap {
      width: 100%; }

  .main_description {
    margin-top: 121px; } }
@media only screen and (max-width: 768px) {
  .sl_block .contacts_content {
    flex-direction: column; }
    .sl_block .contacts_content .form_area, .sl_block .contacts_content .contacts-area {
      width: 100%;
      padding: 0; }
      .sl_block .contacts_content .form_area .mini_inputs input, .sl_block .contacts_content .contacts-area .mini_inputs input {
        padding: 0; }
      .sl_block .contacts_content .form_area .mini_inputs .text_form, .sl_block .contacts_content .contacts-area .mini_inputs .text_form {
        width: calc(100% - 2px); }
        .sl_block .contacts_content .form_area .mini_inputs .text_form label, .sl_block .contacts_content .contacts-area .mini_inputs .text_form label {
          top: 71%; }

  .scene .layer {
    height: 297px; }

  .main_description {
    flex-direction: column; } }
@media only screen and (max-width: 540px) {
  .contacts-area ul > li {
    height: 2vh;
    margin-bottom: 1rem;
    padding-left: 5px; }

  .block_wrap, .block_text, .block_img {
    flex-direction: column;
    width: 100%;
    margin: 0; } }
@media only screen and (max-width: 350px) {
  .scene .layer {
    height: 320px; } }

/*# sourceMappingURL=styles.css.map */
